*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(255, 193, 127);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: antiquewhite;
}

.logo{
    font-size: 2.5rem;
    color: black;
    font-weight:bold;
    cursor: pointer;
}

.navbar a{
   font-size: 1.7rem; 
   color: black;
   margin-left: 2rem;
   font-weight: bold;
   transition: 0.1ms ease;
}
.navbar a:hover{
    color:  rgb(150, 77, 0);
}


/* home section css */
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0 5rem 0;
}
.home-content h3{
    font-size: 2rem;
    font-weight: 700;
}
.home-content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p{
    font-size: 1.5rem;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    border-radius: 50%;
    background-color: transparent;
    height: 4rem;
    font-size: 2rem;
    margin: 2rem 1.5rem 2rem 0;
}
.home-img img{
    width: 20rem;
    margin-left: 1rem;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    color: white;
}
.btn{
    display: inline-block;
    padding: 1rem 1.8rem;
    color: black;
    border-radius: 5rem;
    background-color: white;
    letter-spacing: 0.1rem;
    font-weight: 500;
    transition: 0.1s ease;
}
.btn:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0.5rem 0.5rem black;
}
/* about section css starts from here  */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgb(255, 144, 144);
}
.about-img img{
    width: 20rem;
}
.heading{
    text-align: start;
    line-height: 1.2;
}
.about-content h2{
    font-size: 3rem;
text-align: left
}
.about-content p{
    font-size: 1rem;
    margin: 2rem 0 3rem;
}

/* service css starts here */
.services h2{
    font-size: 3rem;
    margin-bottom: 5rem;
}
.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.service-box{
    flex: 1 1 20rem ;/* flex-grow flex-shrink initail size */
    background-color: orange;
    padding: 3rem 2rem 4rem ;
    border-radius: 2rem;
    text-align: center;
    transition: 0.5s ease;
}
.service-box:hover{
    border-color: white;
    background-color: rgb(158, 158, 158);
    transform:scale(1.02);
}
.service-box i{
    font-size: 5rem;
    color: white;
}
.service-box h3{
    font-size: 1rem;
}
.service-box p{
    font-size: 0.8rem;
    margin: 1rem 0 3rem;
}

/* portfolio starts here  */
.portfolio{
    background-color: white;
}
.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);    /* 3 column 1fraction */
    align-items: center;
    gap: 2.5rem;
}
.portfolio-box{
    position: relative;
    height: 100%;
    border-radius: 1rem;
    box-shadow:0 0 1rem black;
    overflow: hidden;
    display: flex;
}
.portfolio-box img{
    width: 100%;
    transition: 0.5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-layer{
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.1),black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}
.portfolio:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 2rem;
}
.portfolio-layer p{
    font-size: 1rem;
    margin: 0.3rem 0 1rem;
    text-align: center;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%;
}
.portfolio-layer a i{
    font-size: 1.5rem;
    color: black;
}








/* contact css starts here */
.contact h2{
    font-size: 3rem;
    margin-bottom: 5rem;
}
.contact form{
    max-width: 60rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    border: none;
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    color: black;
    background-color: rgb(255, 250, 198);
    border-radius: 0.8rem;
    margin:  0.7rem 0;
}
.contact form .input-box input{
    width:49%;
}
.contact form textarea{
resize: none;
}
